#!/bin/bash
cd {{ ark_server_path }}
./ShooterGame/Binaries/Linux/ShooterGameServer {{ ark_map }}?listen?Port={{ ark_port }}?QueryPort={{ ark_query_port }}?RCONPort={{ ark_rcon_port }}?RCONEnabled=True?ServerAdminPassword={{ ark_admin_password }}?ServerPassword={{ ark_server_password }}?MaxPlayers={{ ark_max_players }}?DifficultyOffset={{ ark_difficulty }}?HarvestAmountMultiplier={{ ark_harvest_multiplier }}?TamingSpeedMultiplier={{ ark_taming_multiplier }}?XPMultiplier={{ ark_xp_multiplier }}?ServerName={{ ark_server_name }}?AllowThirdPersonPerspective={{ ark_allow_third_person }}?AlwaysNotifyPlayerLeft={{ ark_always_notify_player_left }}?AlwaysNotifyPlayerJoined={{ ark_always_notify_player_joined }}?AutosaveIntervalMinutes={{ ark_autosave_interval }}?SaveWorld=true -server -log -usecache
