{
  "serverName": "{{ server_name }}",
  "serverPassword": "{{ server_password }}",
  "maxPlayers": {{ max_players }},
  "gameDifficulty": "Normal",
  "port": 8766,
  "saveInterval": 300,
  "enableVAC": true,
  "enableCheats": false,
  "enableMods": true,
  "enablePvP": true,
  "enableFriendlyFire": false,
  "enableBuildingDestruction": true,
  "enableBuildingDamage": true,
  "enablePlayerDamage": true,
  "enableEnemyDamage": true,
  "enableWeather": true,
  "enableDayNightCycle": true,
  "enableHunger": true,
  "enableThirst": true,
  "enableCold": true,
  "enableHeat": true,
  "enableFatigue": true,
  "enableStamina": true,
  "enableHealth": true,
  "enableArmor": true,
  "enableWeapons": true,
  "enableTools": true,
  "enableBuilding": true,
  "enableCrafting": true,
  "enableCooking": true,
  "enableFishing": true,
  "enableHunting": true,
  "enableGathering": true,
  "enableMining": true,
  "enableLogging": true,
  "enableFarming": true,
  "enableAnimalTaming": true,
  "enableAnimalBreeding": true,
  "enableAnimalRiding": true,
  "enableAnimalCombat": true,
  "enableAnimalHunting": true,
  "enableAnimalGathering": true,
  "enableAnimalMining": true,
  "enableAnimalLogging": true,
  "enableAnimalFarming": true,
  "enableAnimalCrafting": true,
  "enableAnimalCooking": true,
  "enableAnimalFishing": true,
  "enableAnimalHunting": true,
  "enableAnimalGathering": true,
  "enableAnimalMining": true,
  "enableAnimalLogging": true,
  "enableAnimalFarming": true,
  "enableAnimalCrafting": true,
  "enableAnimalCooking": true,
  "enableAnimalFishing": true
}
